$btn-text: #000;
$btn-text-hover: #fff;
$btn-bckg: transparent;
$btn-bckg-hover: #0000007a;
$star-btn-h: 2rem;
$star-btn-w: 2rem;
$star-btn-m: 0.4rem;
$b-rad: 0.2rem;
$border: 0.2rem solid #000;
$module-bckg: #acacac;
$module-m: 1rem;
$footer-h: 2rem;
$card-w: 54rem;
$card-p: 1rem;
$card-l-cont-w: 33%;
$search-pan-bckg: #fff;
$search-pan-m-b: 2rem;
$search-pan-el-m: 0.5rem;
